<article>
  <header>
    <h1><%= t('.title') %></h1>
  </header>

  <%= render_list class: 'nav nav-tabs' do |li|
    if can? :list, Golden::Menu::HierarchicalMenu
      li << [link_to(t('.list'), list_hierarchical_menus_path), { class: 'pull-right' }]
    end
    if can? :new, Golden::Menu::HierarchicalMenu
      li << [link_to(t('helpers.new'), new_hierarchical_menu_path), { class: 'pull-right' }]
    end
  end %>

  <%= render 'tree', menus: @menus %>

  <footer>
  </footer>
</article>
